In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

In [35]:
df = pd.read_csv('Excel/Ecommerce Customers Assignmet.csv')
df

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092
...,...,...,...,...,...,...,...,...
495,lewisjessica@craig-evans.com,"4483 Jones Motorway Suite 872\nLake Jamiefurt,...",Tan,33.237660,13.566160,36.417985,3.746573,573.847438
496,katrina56@gmail.com,"172 Owen Divide Suite 497\nWest Richard, CA 19320",PaleVioletRed,34.702529,11.695736,37.190268,3.576526,529.049004
497,dale88@hotmail.com,"0787 Andrews Ranch Apt. 633\nSouth Chadburgh, ...",Cornsilk,32.646777,11.499409,38.332576,4.958264,551.620145
498,cwilson@hotmail.com,"680 Jennifer Lodge Apt. 808\nBrendachester, TX...",Teal,33.322501,12.391423,36.840086,2.336485,456.469510
499,hannahwilson@davidson.com,49791 Rachel Heights Apt. 898\nEast Drewboroug...,DarkMagenta,33.715981,12.418808,35.771016,2.735160,497.778642

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Email                 500 non-null    object
 1   Address               500 non-null    object
 2   Avatar                500 non-null    object
 3   Avg. Session Length   500 non-null    float64
 4   Time on App           500 non-null    float64
 5   Time on Website       500 non-null    float64
 6   Length of Membership  500 non-null    float64
 7   Yearly Amount Spent   500 non-null    float64
dtypes: float64(5), object(3)
memory usage: 31.4+ KB

In [37]:
y = df['Yearly Amount Spent']

In [38]:
df.drop(columns='Yearly Amount Spent', axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Email                 500 non-null    object
 1   Address               500 non-null    object
 2   Avatar                500 non-null    object
 3   Avg. Session Length   500 non-null    float64
 4   Time on App           500 non-null    float64
 5   Time on Website       500 non-null    float64
 6   Length of Membership  500 non-null    float64
dtypes: float64(4), object(3)
memory usage: 27.5+ KB

In [39]:
df.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308

In [40]:
for col in df.columns:
    print(f'{col}, {df[col].nunique()}')
    print('-'*100)

Email, 500
----------------------------------------------------------------------------------------------------
Address, 500
----------------------------------------------------------------------------------------------------
Avatar, 138
----------------------------------------------------------------------------------------------------
Avg. Session Length, 500
----------------------------------------------------------------------------------------------------
Time on App, 500
----------------------------------------------------------------------------------------------------
Time on Website, 500
----------------------------------------------------------------------------------------------------
Length of Membership, 500
----------------------------------------------------------------------------------------------------

In [41]:
features = [col for col in df.columns if col not in ['Email', 'Address', 'Avatar']]
features

['Avg. Session Length',
 'Time on App',
 'Time on Website',
 'Length of Membership']

In [42]:
X = df[features].copy()
X.head()

   Avg. Session Length  Time on App  Time on Website  Length of Membership
0            34.497268    12.655651        39.577668              4.082621
1            31.926272    11.109461        37.268959              2.664034
2            33.000915    11.330278        37.110597              4.104543
3            34.305557    13.717514        36.721283              3.120179
4            33.330673    12.795189        37.536653              4.446308

In [46]:
X.describe()

       Avg. Session Length  Time on App  Time on Website  Length of Membership
count           500.000000   500.000000       500.000000            500.000000
mean             33.053194    12.052488        37.060445              3.533462
std               0.992563     0.994216         1.010489              0.999278
min              29.532429     8.508152        33.913847              0.269901
25%              32.341822    11.388153        36.349257              2.930450
50%              33.082008    11.983231        37.069367              3.533975
75%              33.711985    12.753850        37.716432              4.126502
max              36.139662    15.126994        40.005182              6.922689

In [75]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, KFold
from sklearn.metrics import mean_squared_error

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [51]:
sc = StandardScaler()

X_train[features] = sc.fit_transform(X_train[features])
X_test[features] = sc.transform(X_test[features])

In [106]:
import xgboost as xgb
from xgboost import XGBRegressor

In [67]:
model = XGBRegressor(
    n_estimators=5000, 
    max_depth=6,
    learning_rate=0.01,
    n_jobs =-1,
    random_state=42)

model.fit(X_train, y_train,
          eval_metric='rmse',
          verbose=1000
         )

predict = model.predict(X_test)
rmse = mean_squared_error(y_test, predict, squared=False)

In [82]:
print(rmse)

71.80842286457404

In [84]:
n_splits = 10

In [85]:
kf = KFold(n_splits=n_splits, shuffle=True, random_state=42)

In [115]:
import time

predictions = 0
oof_predictions = np.zeros((X.shape[0],))
xgb.set_config(verbosity=0)
for fold, (train_idx, valid_idx) in enumerate(kf.split(X, y)):
    print(f"===== fold {fold+1} =====")
    X_train, X_valid = X.iloc[train_idx], X.iloc[valid_idx]
    y_train, y_valid = y.iloc[train_idx], y.iloc[valid_idx]
    
    X_train = sc.fit_transform(X_train)
    X_valid = sc.transform(X_valid)
    
    start = time.time()
    model = XGBRegressor(
        n_estimators=5000, 
        max_depth=6,
        learning_rate=0.01,
        n_jobs =-1,
        random_state=42,
        booster='gblinear')

    model.fit(X_train, y_train,
          eval_set=[(X_valid, y_valid)],
          eval_metric='rmse',
          verbose=False
         )
    #We have no test data so ...
    #predictions += model.predict(X_test) / n_splits
    oof_predictions[valid_idx] = model.predict(X_valid)
    elapsed = time.time() - start
    rmse = mean_squared_error(y_valid, oof_predictions[valid_idx], squared=False)
    print(f"fold {fold+1} - rmse: {rmse:.6f}, elapsed time: {elapsed:.2f}sec\n")

===== fold 1 =====
fold 1 - rmse: 9.167444, elapsed time: 1.40sec

===== fold 2 =====
fold 2 - rmse: 11.621967, elapsed time: 1.51sec

===== fold 3 =====
fold 3 - rmse: 9.705194, elapsed time: 1.40sec

===== fold 4 =====
fold 4 - rmse: 9.174153, elapsed time: 1.46sec

===== fold 5 =====
fold 5 - rmse: 9.667334, elapsed time: 1.49sec

===== fold 6 =====
fold 6 - rmse: 10.811184, elapsed time: 1.44sec

===== fold 7 =====
fold 7 - rmse: 10.653369, elapsed time: 1.33sec

===== fold 8 =====
fold 8 - rmse: 9.181918, elapsed time: 1.33sec

===== fold 9 =====
fold 9 - rmse: 10.090585, elapsed time: 2.13sec

===== fold 10 =====
fold 10 - rmse: 9.441491, elapsed time: 2.51sec

In [108]:
model.score(X_train, y_train)

0.9844173754768502

In [109]:
model.score(X_valid, y_valid)

0.983148509338604

In [110]:
model.coef_

array([25.6334  , 38.7155  ,  0.460279, 61.4999  ])

In [111]:
model.intercept_

array([498.483])

# There is no testing data of course so I had to do my best :D