In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df = pd.read_csv('Excel/50_Startups.csv')
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [4]:
target = df['Profit']
df.drop(axis=1, columns='Profit', inplace=True)
df.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [5]:
df['State'].nunique()

3

In [6]:
df['State'].unique()

array(['New York', 'California', 'Florida'], dtype=object)

In [8]:
df = pd.get_dummies(df, columns=['State'], drop_first=True)
df.head()

   R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
0  165349.20       136897.80        471784.10              0               1
1  162597.70       151377.59        443898.53              0               0
2  153441.51       101145.55        407934.54              1               0
3  144372.41       118671.85        383199.62              0               1
4  142107.34        91391.77        366168.42              1               0

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df, target, test_size=0.2)

In [11]:
from sklearn.preprocessing import StandardScaler

features = [col for col in df.columns]
standardscaler = StandardScaler()
X_train[features] = standardscaler.fit_transform(X_train[features])
X_test[features] = standardscaler.transform(X_test[features])

<ipython-input-11-a79ddc5034fc>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[features] = standardscaler.fit_transform(X_train[features])
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)
<ipython-input-11-a79ddc5034fc>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test[features] = standardscaler.transform(X_test[features])
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:1738: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value[:, i].tolist(), pi)

In [12]:
from sklearn.linear_model import LinearRegression
from xgboost import XGBRegressor
from lightgbm import LGBMRegressor
from catboost import CatBoostRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

In [15]:
models = {
    "LR": LinearRegression(),
    "KNNR" : KNeighborsRegressor(), 
    "SVR": SVR(),
    "DT": DecisionTreeRegressor(),
    "RF": RandomForestRegressor(),
    "XGBR": XGBRegressor(),
    "CATB": CatBoostRegressor(silent=True),
    "LGBM": LGBMRegressor(),
}

In [17]:
for name, model in models.items():
    print(f'Using model: {name}')
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    print(f'Training Score: {model.score(X_train, y_train)}')
    print(f'Test Score: {model.score(X_test, y_test)}')  
    print(f'RMSE: {mean_squared_error(y_test, y_pred, squared=True)}')  
    print('-'*30)

Using model: LR
Training Score: 0.940742282611139
Test Score: 0.9743803729018439
RMSE: 47061810.392294176
------------------------------
Using model: KNNR
Training Score: 0.7422734806914337
Test Score: 0.702907745039411
RMSE: 545741720.5334973
------------------------------
Using model: SVR
Training Score: -0.0023853892247704955
Test Score: -0.14941526911336656
RMSE: 2111411038.4890862
------------------------------
Using model: DT
Training Score: 1.0
Test Score: 0.9322127928936109
RMSE: 124521277.20835003
------------------------------
Using model: RF
Training Score: 0.9863090432956158
Test Score: 0.9801096173041203
RMSE: 36537511.47420215
------------------------------
Using model: XGBR
Training Score: 0.999999999998666
Test Score: 0.9595344384371176
RMSE: 74332954.90187435
------------------------------
Using model: CATB

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\data.py:112: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\xgboost\data.py:112: UserWarning: Use subset (sliced data) of np.ndarray is not recommended because it will generate extra copies and increase memory consumption
  warnings.warn(

Training Score: 0.9999597542491714
Test Score: 0.874372134918465
RMSE: 230771304.50823054
------------------------------
Using model: LGBM
Training Score: 1.1102230246251565e-16
Test Score: -0.11653304118666763
RMSE: 2051008239.8834076
------------------------------